/* CSS Document */

html,body {height: 100%;}
body {
	background: url('../img/bg.png');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	color:#fff;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover,
a,button { outline:none; }
a { color: #FEFF41; }
a:hover { color: #fff; }
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}
#footer { height: 30px; background: #000; padding-top: 10px;}
.tooltip-inner {font-size:18px;}
.label, .badge {white-space:normal;}
#wrap .container {
	padding-top:60px;
	margin: 0 auto; 
	width:95%;
}
div.white-boxed {
	background: rgba(0,0,0,0.75);
	padding: 10px;
	margin-bottom: 10px;
}
.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto;
	background: rgba(0,0,0,0.75);
}
.form-signin .form-signin-heading{
	margin-bottom: 10px; 
	text-align:center; 
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin select {
	font-size: 14px;
	margin-bottom: 15px;
	padding: 7px 9px;}
blockquote small {
	color: #ccc;
}
.treeview ul {
	background:transparent;
}
.navbar-inner {
	background: rgba(0,0,0,0.5);
	border-color: #000;
	border-radius: 0;
}
textarea, input[type="text"], input[type="password"] {
	color: #fff;
	background: #000;
	border-radius: 0;
	border:0;
}
.alert {
	border-radius:0;
	border: none;
	text-shadow:none;
}
.alert-danger, .alert-error {
	color: #f2dede;
	background-color: #b94a48;
	
}
.alert-info {
    color: #d9edf7;
    background-color: #3a87ad;
}
.alert-success {
    color: #dff0d8;
    background-color: #468847;
}

.alert-warning {
    color: #fcf8e3;
    background-color: #c09853;
}

@media (max-width: 980px) {
	#wrap .container {
		padding-top:0;
		margin-bottom:50px;
	}
}

@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		height: auto;}
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;}   
	.form-signin {
		padding: 10px 20px 20px;
		margin: 10px auto 10px;}      
}